.App__Container{
    width: 60%;
    margin: 70px;
    margin-top: 60px;
    
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap:150px;
    grid-row-gap:45px;
    
    
}

.Card__Character{
    width: 300px;
    max-height: 400px;

    border-style: solid;
    border-width: 1px;
    border-radius: 10%;

}
.Card__loading{
    border-style: solid;
    border-width: 1px;
    border-radius: 10%;
    max-width: 300px;
}

.textContainer{
    align-items: center;
    padding: 20px;
    width: 200px;
}