
.App{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1px;
   
}
.App__Container{
    
    margin-top: 50px;
    margin-bottom: 50px;

}

.Card__Character{
    border-style: solid;
    border-width: 1px;
    border-radius: 10%;
    max-width: 300px;
}
.Card__loading{
    border-style: solid;
    border-width: 1px;
    border-radius: 10%;
    max-width: 300px;
}

.textContainer{
    align-items: center;
    padding: 20px;
    width: 200px;
}